
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    Paragraph about shopping: There’s nothing like a day of shopping to make you feel good. Whether you’re buying something for yourself or for someone else, the sense of satisfaction you get from finding the perfect item is hard to beat. And when it comes to shopping, there’s no need to stick to just one type of store. From department stores to boutiques, there’s a world of shopping possibilities out there.

    If you’re looking for a little bit of everything, department stores are a great place to start. You can find everything from your favorite dress and accessories to home goods and electronics. Plus, many department stores have special sections devoted to different types of products, so you can really focus on what you’re looking for. Just be prepared to spend some time browsing!
</p>

<img src="https://img.freepik.com/free-vector/shop-with-sign-we-are-open_52683-38687.jpg" alt="Picture of a shop" >
<img src="/NewFolder/OIP.jpg" alt="Picture" >

<body>
    <form action="About" method="post">
        <p>Please enter your first name and last name</p>
        <input type="text" name="user_Name" placeholder="" required >
        <input type="text" name="user_Surname" placeholder="" required>
        <input type="text" name="user_Email" placeholder="" required>
        <button type="submit"> Submit</button>


    </form>


</body>
